<ion-view view-title="registrationSuccess" name="register-succ-view">
    <ion-content class="padding">
        <h2>Congratulation!!</h2>
        <form name="form" ng-submit="otp(dataOTP)" role="form">
            <div class="list list-inset">
                <p>Your Confirmed!!</p>
                <p>Please Login to Continue</p>
            </div>
            <button type="button" ng-click="go('/login')" class="button button-block button-positive">Login</button>
        </form>
    </ion-content>
</ion-view>
