<ion-view title="Contact">
    <ion-content>
        <div class="list">
            <div class="item">
                Bzzbook &copy; 2015 English (US)
            </div>            
            <div class="row">
                <p class="col">
                    Begin today with a better way to connect with friends, colleagues, and customers. Make Bzzbook your one stop shop for all your social media needs. Sign up today and be a part of the future of social media.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>