<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="col">
            <form name="form" ng-submit="login(dataLogin)" role="form">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" name="username" placeholder="Username x" class="form-control" ng-model="dataLogin.username" required />
                    </label>
                    <label class="item item-input">
                        <input type="password" name="password" placeholder="Password" class="form-control" ng-model="dataLogin.password" required />
                    </label>
                </div>
                <button type="submit" class="button button-block button-positive">Login</button>
            </form>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
        </div>
    </ion-content>
</ion-view>